{% if no_city %}
	<h1> No existe una ciudad para la pk ingresada </h1>
{% else %}
	<h1>Esta seguro de borrar la ciudad:<br>
	{{city.name}} {{city.pk}}</h1>
	<br>
	<br>
	<div class=error>{{error}}</div>
	<br>
	<br>
	<form method="post">
	    {% csrf_token %}
	 	<input type="submit" name="confirm" value="guardar">
	 	<input type="submit" name="cancel" value= "cancelar">
	</form>
{% endif %}