<h1>Agregando nueva Ciudad</h1>
<br>
<br>
<div class=error>{{error}}</div>
<br>
<br>

<form method="post">
    {% csrf_token %}
 
    Nombre: 
    <input type="text" name="name">
    <br>
    Codigo-postal: 
    <input type="number" name="postal-code">
    <br>
    <input type="submit" value="guardar">
</form>
