{% if no_city %}
	<h1> No existe una ciudad para la pk ingresada </h1>
{% else %}
	<h1>Actualizando ciudad {{city.name}} {{city.pk}}</h1>
	<div class=error>{{error}}</div>
	<br>
	<br>
	<form method="post">
	    {% csrf_token %}
	 
	    Nombre: 
	    <input type="text" name="name" value="{{city.name}}">
	    <br>
	    Codigo-postal: 
	    <input type="number" name="postal-code" value="{{city.postal_code}}">
	    <br>
	    <input type="submit" value="guardar">
	</form>
{% endif %}