<h2>Cities</h2>
<!--<ul>
   {% for city in object_list %}
      <li>{{ city.name }} {{city.postal__code}}</li>
   {% endfor %}
</ul>-->
<table>
	<tr>
		<th>Ciudad </th> <th>Codigo postal </th> <th>ID</th><th>acciones</th> 
	</tr>
   {% for city in cities %}
   <tr>
      <td>{{ city.name }}</td><td>{{city.postal_code}}</td><td>{{city.pk}}</td>
      <td><a href="{% url 'course:city-update' city.pk %}">Editar</a>
         <a href="{% url 'course:city-delete' city.pk %}">Eliminar</a></td>
   </tr>
   {% endfor %}
</table>
<br>
<br>
<a href="{% url 'course:city-add' %}">Agregar ciudad </a>