<h2>Teachers</h2>
<table>
<tr>
<th> Nombre </th>
<th>Apellido</th>
<th>Id</th>
<th>Acciones</th>

</tr>
   {% for teacher in teachers %}
      <tr>
      	<td>{{ teacher.name }}</td>
      	<td>{{teacher.surname }}</td>
      	<td>{{ teacher.id}}</td>
      	<td><a href="{% url 'course:teacher-update' teacher.pk %}">Editar</a>
      	<a href="{% url 'course:teacher-delete' teacher.pk %}">Eliminar</a></td>
     </tr> 	
   {% endfor %}
</table>
<br><br>
<a href="{% url 'course:teacher-add' %}">Agregar profesor </a>