{% if not teacher %}
  <h1> No existe un docente con la pk ingresada </h1>
{% else %}
  <h1>Editando docente {{teacher.name}}</h1>
  <br>
  <br>
  <div class=error>{{error}}</div>
  <br>
  <br>

  <form method="post">
      {% csrf_token %}
   
      Nombre: 
      <input type="text" name="name" value="{{teacher.name}}">
      <br>
      Apellido:
      <input type="text" name="surname" value="{{teacher.surname}}">
      <br>
      DNI: 
      <input type="text" name="dni" value="{{teacher.dni}}">
      <br>
      Titulo:
      <input type="text" name="degree" value="{{teacher.degree}}">
      <br>
      Casa:
       <select name="houses">
        {%for house in houses%}
          <option value="{{house.pk}}"
         {% if house.name == teacher.home.name %}selected="selected"{% endif %}>
          {{house.name}}
          </option>
        {% endfor %}
    	</select> 
    	<br>
    	<br>
      <input type="submit" value="guardar">
  </form>
{% endif %}