<h1>Agregando nuevo Docente</h1>
<br>
<br>
<div class=error>{{error}}</div>
<br>
<br>

<form method="post">
    {% csrf_token %}
 
    Nombre: 
    <input type="text" name="name">
    <br>
    Apellido:
    <input type="text" name="surname">
    <br>
    DNI: 
    <input type="number" name="dni">
    <br>
    Titulo:
    <input type="text" name="degree">
    <br>
    Casa:
    <select name="houses">
    	{%for house in houses%}
  			<option value="{{house.pk}}">{{house.name}}</option>
  		{% endfor %}
    	}
  	</select> 
  	<br>
  	<br>
    <input type="submit" value="guardar">
</form>
