{% if no_teacher %}
	<h1> No existe un profesor para la pk ingresada </h1>
{% else %}
	<h1>Esta seguro de borrar el profesor:<br>
	{{teacher.name}} {{teacher.pk}}</h1>
	<br>
	<br>
	<div class=error>{{error}}</div>
	<br>
	<br>
	<form method="post">
	    {% csrf_token %}
	 	<input type="submit" name="confirm" value="guardar">
	 	<input type="submit" name="cancel" value= "cancelar">
	</form>
{% endif %}